<% title "User" %>

<p>
  <strong>Username:</strong>
  <%=h @user.username %>
</p>
<p>
  <strong>Password:</strong>
  <%=h @user.password %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Mobile Phone:</strong>
  <%=h @user.mobile_phone %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @user.phone %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Cancel", users_path %>
</p>
