<% title "Client" %>

<p>
  <strong>Company Name:</strong>
  <%=h @client.company_name %>
</p>
<p>
  <strong>Url:</strong>
  <%= link_to @client.url, @client.url, :target => "_blank" %>
</p>

<p>
  <%= button_to "Edit", edit_client_path(@client), :class => "button" %> |
  <%= button_to "Delete", @client, :confirm => 'Are you sure?', :method => :delete, :class => "button" %> |
  <%= button_to "Cancel", clients_path, :class => "button" %>
</p>
