<% form_for @ticket do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :project_id %><br />
    <%= f.collection_select :project_id, Project.all, :id, :title_with_company %>
  </p>
  <p>
    <%= f.label :user_id, "Assigned to" %><br />
    <%= f.collection_select :user_id, User.all, :id, :fullname %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Save", :class => "button" %> <%= cancel_button %></p>
<% end %>
