<% title "Projects" %>

<table>
  <tr>
    <th>Client</th>
    <th>Title</th>
    <th>Due Date</th>
    <th>Collaborators</th>
    <th>Tickets</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% for project in @projects %>
    <tr class="<%= project.past_due? ? 'past_due' : '' %>">
      <td><%= link_to project.client.company_name, client_path(project.client) %></td>
      <td><%= link_to h(project.title), client_project_path(project.client,project) %></td>
      <td><%= project.due_date %></td>
      <td><%=h project.collaborators %></td>
      <td><small>Tickets: <%= link_to project.tickets.size, project_tickets_path(project) %></small></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= button_to "New Project", @client ? new_client_project_path(@client) : new_project_path, :class => "button", :method => :get %></p>
